<div class="container">
    <h3>{{title}}</h3>
    <!-- order data form -->
    <form [formGroup]="orderForm">
        <div class="row">
            <div class="col">
                <label for="client" class="form-label">Cliente</label>
                <input type="text" formControlName="client" class="form-control" id="client">
            </div>
            <div class="col">
                <label for="placeNumber" class="form-label">Coperti</label>
                <input type="number" formControlName="placeSettingNumber" class="form-control" id="placeNumber">
            </div>
            <div class="col">
                <label for="tableNumber" class="form-label">Tavolo</label>
                <input type="number" formControlName="tableNumber" class="form-control" id="tableNumber">
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <label for="cashier" class="form-label">Cassiere</label>
                <input type="text" formControlName="cashier" class="form-control" id="cashier">
            </div>
            <div class="col">
                <label for="note" class="form-label">Note Ordine</label>
                <input type="text" formControlName="note" class="form-control" id="note">
            </div>
            <div class="col align-self-center">
                <label for="export" class="form-label">Asporto</label>
                <select class="form-select" formControlName="takeAway" id="export">
                    <option value="false" selected>No</option>
                    <option value="true">Si</option>
                </select>
            </div>
        </div>
        <!-- left order detail table and menu items -->
        <div id="menu-item__container">
            <div class="menu-item__container-item" [style.display]='mode === "VIEW" ? "none" : "block"'>
                <ng-container *ngFor="let category of categoryList">
                    <div class="card menu-item__card-category--container">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{category?.name}}</h6>
                            <ng-container *ngFor="let item of category.menuItemList">
                                <button type="button" class="btn btn-primary" (click)="addItemToOrder(category, item)">
                                    {{item?.name}}
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="menu-item__container-item ">
                <table class="table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Qa</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Totale</th>
                        <th scope="col">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of orderItemList">
                        <td>{{item?.menuItemName}}</td>
                        <td>{{item?.quantity}}</td>
                        <td>{{item?.menuItemPrice | currency:'EUR'}}</td>
                        <th scope="row">{{item?.totalPrice | currency:'EUR'}}</th>
                        <td>{{item?.note}}</td>
                        <!-- todo aggiungere pulsanti +/- per aggiungere/rimuovere quantità item -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- total price info -->
        <div id="price__container">
            <b>Totale</b>
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" formControlName="total" readonly class="form-control">
            </div>
            <span>Totale Pagato</span>
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" formControlName="totalPaid" class="form-control">
            </div>
            <span>Resto</span>
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" formControlName="rest" readonly class="form-control">
            </div>
        </div>
    </form>

    <!-- footer action button -->
    <div class="row d-flex justify-content-end my-3">
        <div class="col-auto">
            <button type="button" (click)="goBack()"
                class="btn btn-outline-secondary mx-1 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">cancel</span>
                <span class="r-button-text">Annulla</span>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" *ngIf='mode !== "VIEW"' (click)="save()"
                class="btn btn-primary mx-1 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">save</span>
                <span class="r-button-text">Salva</span>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" *ngIf='mode !== "VIEW"' (click)="saveAndPrint()"
                class="btn btn-success mx-1 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">save</span>
                <span class="material-icons-outlined">print</span>
                <span class="r-button-text">Salva e Stampa</span>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" *ngIf='mode === "VIEW"' (click)="print()"
                class="btn btn-success mx-1 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">print</span>
                <span class="r-button-text">Stampa Ordine</span>
            </button>
        </div>
    </div>
</div>
