<div class="container">
    <div class="row">
        <div class="col">
            <label for="client" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="client">
        </div>
        <div class="col">
            <label for="placeNumber" class="form-label">Coperti</label>
            <input type="text" class="form-control" id="placeNumber">
        </div>
        <div class="col">
            <label for="tableNumber" class="form-label">Numero Tavolo</label>
            <input type="text" class="form-control" id="tableNumber">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <label for="cashier" class="form-label">Cassiere</label>
            <input type="text" class="form-control" id="cashier">
        </div>
        <div class="col">
            <label for="note" class="form-label">Note Ordine</label>
            <input type="text" class="form-control" id="note">
        </div>
        <div class="col align-self-center">
            <label for="export" class="form-label">Asporto</label>
            <select class="form-select" id="export">
                <option value="false" selected>No</option>
                <option value="true">Si</option>
            </select>
        </div>
    </div>

    <div class="row d-flex justify-content-end my-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary mx-4 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">save</span>
                <span class="text">Salva</span>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-success mx-2 d-flex justify-content-around align-items-center">
                <span class="material-icons-outlined">print</span>
                <span class="text">Salva e Stampa</span>
            </button>
        </div>
    </div>
</div>