<header class="nav-container">
  <nav class="nav">
    <a (click)='navigateTo("dashboard")' class="nav-logo">
      <!-- <span class="material-icons">storefront</span> -->
      <img class="nav-logo" src="/assets/icon.png">
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a (click)='navigateTo("menu")' class="nav-link">Listino</a>
      </li>
      <li class="nav-item">
        <a (click)='navigateTo("order")' class="nav-link">Ordini</a>
      </li>
      <li class="nav-item">
        <a (click)='navigateTo("printer")' class="nav-link">Stampanti</a>
      </li>
      <li class="nav-item">
        <a (click)='navigateTo("stats")' class="nav-link">Statistiche</a>
      </li>

      <ng-container *ngIf="!isLoggedIn; else userLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ng-container>
      <ng-template #userLoggedIn>
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ng-template>
    </ul>

    <div class="hamburger" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
