<div class="px-2">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" *ngIf="selectedOrder" (click)="onEditOrder()">
          Modifica Ordine
        </button>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" *ngIf="selectedOrder" (click)="onViewOrder()">
          Visualizza Ordine
        </button>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="onNewOrder()">
          Nuovo Ordine
        </button>
      </div>
    </div>
  </div>
  <table class="table my-3">
    <thead>
      <tr>
        <th scope="col">Tavolo</th>
        <th scope="col">Cliente</th>
        <th scope="col">Totale</th>
        <th scope="col">Data Ordine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async;" 
          (click)="onRowSelect(order)"
          [ngClass]='{"table-secondary": order.id === selectedOrder?.id}'>
        <th scope="row">{{order?.tableNumber}}</th>
        <td>{{order?.client}}</td>
        <td>{{order?.total}}</td>
        <td>{{order?.creationTimestamp}}</td>
      </tr>
    </tbody>
  </table>
</div>