<div class="item-modal">

    <div class="item-modal_content">
        <h3>{{title}}</h3>

        <form [formGroup]="menuItemForm">
            <div class="row align-items-end">
                <div class="col-6">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" [ngClass]="{ 'is-invalid': menuItemForm.controls['name'].invalid }"
                        formControlName="name" class="form-control" id="name">
                    <div class="invalid-feedback">Nome obbligatorio.</div>
                </div>
                <div class="col-6">
                    <label for="description" class="form-label">Descrizione</label>
                    <input type="text" formControlName="description" class="form-control" id="description">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-6">
                    <label for="price" class="form-label">Prezzo</label>
                    <input type="number" [ngClass]="{ 'is-invalid': menuItemForm.controls['price'].invalid }"
                        formControlName="price" class="form-control" id="price">
                    <div class="invalid-feedback">Prezzo obbligatorio.</div>
                </div>
                <div class="col-6">
                    <label for="category" class="form-label">Categoria</label>
                    <input type="text" readonly [value]="category.name" class="form-control" id="category">
                </div>
            </div>
        </form>

        <div class="item-modal_footer">
            <button type="button" class="btn btn-secondary" (click)="close()">Annulla</button>
            <button type="button" class="btn btn-primary" [disabled]="menuItemForm.invalid"
                (click)="save()">Salva</button>
        </div>
    </div>
</div>