<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf template for orders</title>
    <link href="@{../static/styles/main.css}" th:href="@{../static/styles/main.css}" rel="stylesheet" />
</head>
<body style="font-family: 'Helvetica'">
<!-- header -->
<h3 style="text-align: center" th:text="'Festa della birra Mellaredo 2021'"></h3>

<div>
    <span th:text="'Ordine ' + ${order.ID}"></span>
</div>

<div></div>

<!-- order details -->
<div>
    <span th:text="'Tavolo ' + ${order.tableNumber}"></span>
    <span th:text="'Coperti ' + ${order.placeSettingNumber}"></span>
    <span th:text="'Cliente ' + ${order.client}"></span>
</div>

<div></div>

<!-- order items details -->
<tr th:each="detail: ${order.orderItemDetails}">
    <td th:text="${detail.quantity}"/>
    <td th:text="${detail.menuItem.name}"/>
</tr>

<!-- order notes -->
<div>
    <span>Note: urgente band - attenzione utente ceilaco</span>
</div>

<div></div>

<div>
    <span><strong>Cassiere Bozzz</strong></span>
    <span th:text="${order.creationTimestamp}"></span>
    <span>Copia bar</span>
</div>

<!-- footer -->
</body>
</html>