<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Copia cliente</title>
    <link href="@{../static/styles/main.css}" th:href="@{../static/styles/main.css}" rel="stylesheet" />
</head>
<body style="font-family: 'Helvetica'">
<!-- header -->
<h3 style="text-align: center">Festa della birra Mellaredo 2021</h3>

<div style="margin-top: 10px;">
    <span>ORDINE</span><strong><span th:text="' ' + ${order.ID}"></span></strong>
</div>

<!-- order details -->
<table style="width: 100%">
    <thead>
    <tr>
        <th>TAVOLO</th>
        <th>COPERTI</th>
        <th>CLIENTE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${order.tableNumber}"/>
        <td th:text="${order.placeSettingNumber}"/>
        <td th:text="${order.client}"/>
    </tr>
    </tbody>
</table>

<!-- order items details -->
<h5>PRODOTTI ORDINATI</h5>
<table style="width: 100%">
    <thead>
    <tr>
        <th></th>
        <th>DESCRIZIONE</th>
        <th>PREZZO</th>
        <th>TOTALE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail: ${order.orderItemDetails}">
        <td th:text="${detail.quantity}"/>
        <td th:text="${detail.menuItemName}"/>
        <td><span th:text="${#numbers.formatDecimal(detail.menuItemPrice, 0, 'POINT', 2, 'COMMA')}"></span>€</td>
        <td><span th:text="${#numbers.formatDecimal(detail.totalPrice, 0, 'POINT', 2, 'COMMA')}"></span>€</td>
    </tr>
    </tbody>
</table>

<!-- order notes -->
<div>
    <span>Note</span><span th:text="' ' + ${order.note}"></span>
</div>

<h3 th:text="'TOTALE: ' + ${#numbers.formatDecimal(order.total, 0, 'POINT', 2, 'COMMA')} + '€'"></h3>

<table style="width: 100%">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="'Cassiere ' + ${order.cashier}"/>
        <td th:text="'' + ${order.zonedDateTime}"/>
        <td>COPIA CLIENTE</td>
    </tr>
    </tbody>
</table>

<!-- footer -->
</body>
</html>